/*
***
** the social network
***
**  CSS TABLE OF CONTENTS
**
**  1.0 - Variables
**  2.0 - Reset
**  3.0 - Fonts
**  4.0 - Globals
**  5.0 - Header
**  6.0 - Footer
**  7.0 - HOME
**  8.0 - ABOUT
**  -1 - Responsive Responsive
**
****
*/

/* ==========================================================================
   1.0  Variables
   ========================================================================== */
:root {
  --black: #222;
  --white: #f7f7f7;
  --grey: #dcdcd9;
  --green: #333d29;
}
/* ==========================================================================
  2.0 - Reset
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==========================================================================
  3.0 - Fonts
   ========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* ==========================================================================
  4.0 - Globals
   ========================================================================== */
body {
  background-color: var(--grey);
  color: var(--black);
}
/* ==========================================================================
   5.0 - Header
   ========================================================================== */
header.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: var(--green);
}
header.site-header .container,
header.site-header .container .row {
  height: 100%;
  font-weight: 600;
}
header.site-header .container .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: var(--white);
}

/* ==========================================================================
  6.0 - Footer
   ========================================================================== */
/* ==========================================================================
  7.0 - main
   ========================================================================== */
main.site-main {
  background-color: var(--black);
  color: var(--white);
  padding-top: 72px;
}
main.site-main .container .row .col-12 {
  display: flex;
  justify-content: center;
}
/* post */
.post {
  max-width: 500px;
  width: 500px;
  margin: 40px auto;
  /* border: 1px solid #dbdbdb; */
  border: 1px solid red;
  border-radius: 16px;
  padding: 8px;
}
.post-header {
  display: flex;
  align-items: top;
  gap: 8px;
}
.post-header .user-image {
  width: 64px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: red;
}
.post-header .userData {
   height: 64px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.post-header .userData .userName {
  font-size: 22px;
  display: flex;
   align-items: center;
}
.post-header .userData .userName .badge svg{
       width: 24px;
    height: auto;
}
.post-header .userData .lastEntry{
   font-size: 14px;
   color: var(--grey);
   opacity: 0.7;
}

/* ==========================================================================
  -1 - Responsive
   ========================================================================== */
/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
      2.0 - Reset
       ========================================================================== */
  /* ==========================================================================
      3.0 - Fonts
       ========================================================================== */
  /* ==========================================================================
      4.0 - Globals
       ========================================================================== */
  /* ==========================================================================
       5.0 - Header
       ========================================================================== */
  /* ==========================================================================
      6.0 - Footer
       ========================================================================== */
  /* ==========================================================================
      7.0 - HOME
       ========================================================================== */
}

/* XX-Large devices (large desktops, less than 1600px) */

@media (max-width: 1599.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 321px) */

@media (max-width: 320.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}
